{
  "extends": "react-app",
  "rules": {
    "semi": [ "error", "always" ],
    "space-before-function-paren": [ "error", "never" ],
    "arrow-parens": [ "error", "as-needed" ],
    "indent": [ "error", "tab" ],
    "brace-style": "error",
    "no-unused-vars": [ "error", { "vars": "all", "args": "all" } ],
    "array-bracket-spacing": [ "error", "always" ],
    "computed-property-spacing": [ "error", "always" ],
    "object-curly-spacing": [ "error", "always" ],
    "space-in-parens": [ "error", "never"],
    "comma-spacing": [ "error" ],
    "react/jsx-curly-spacing": [ "error", "never", "children": true ],
    "quotes": [ "error", "single" ]
  }
}
