header.top-menu-mobile {
}
header.top-menu-mobile > div {
	padding: 10px;
	border-bottom: 1px solid #efefef;
	z-index: 100;
}
header.top-menu-mobile > div > * {
	display: inline-block;
	vertical-align: middle;
}
header.top-menu-mobile > div > *:nth-child(1) {
	width: 50%;
}
header.top-menu-mobile > div > .logo img {
	width: 70px;
	height: 70px;
}
header.top-menu-mobile > div > *:nth-child(2) {
	width: 50%;
	text-align: right;
}
header.top-menu-mobile .top-menu-mobile-links-enter {
	opacity: 0.01;
	transform: translateY(-50%);
}
header.top-menu-mobile .top-menu-mobile-links-enter-active {
	opacity: 1;
	transform: translateY(0%);
	transition: all 500ms ease-out;
}
header.top-menu-mobile .top-menu-mobile-links-exit {
	opacity: 1;
	transform: translateY(0%);
}
header.top-menu-mobile .top-menu-mobile-links-exit-active {
	opacity: 0.01;
	transform: translateY(-50%);
	transition: all 500ms ease-out;
}
header.top-menu-mobile > nav {
	position: absolute;
	width: 100%;
	left: 0;
	top: 130px;
	background: white;
	z-index: 10;
}
header.top-menu-mobile > nav > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
header.top-menu-mobile > nav > ul > li {
	text-align: center;
	padding: 20px;
}
header.top-menu-mobile nav > ul > li > a:hover {
	border-bottom: 1px solid black;
}
header.top-menu-mobile nav > ul > li > a.active {
	font-weight: bold;
	border-bottom: 2px solid black;
}
header.top-menu-mobile .facebook-link {
	margin-right: 5px;
}
header.top-menu-mobile .facebook-link img {
	border-radius: 8px;
}
