* {
	box-sizing: border-box;
	font-family: 'Karla', sans-serif;
}

.app {
	overflow: hidden;
}

body {
	padding: 0;
	margin: 0;
	color: #262626;
}
div.main-container {
	width: 80%;
	margin: 0 auto;
}
/* reset */
a {
	color: #262626;
	text-decoration: none;
}

.dark {
	background-color: #000;
}

.light {
	background-color: gray;
}

#root {
	overflow: hidden;
}
